.headerDiv {
	min-height: 64px;
	background-color: #fafafa;
	color: white;
	padding: 1.1rem 6.375rem 1.1rem 7.3rem;
}

.headerButton {
	color: #000;
	font-size: 20px;
	line-height: 23px;
	cursor: pointer;
}

.headerButton:hover {
	color: red;
	/* background: radial-gradient(
		100% 1267.36% at 0% 50%,
		#f42b4d 0%,
		#fa541a 100%
	);
	border-radius: 20px;
	padding: 0.8rem 0.5rem; */
}

.headerButtonHighlighted {
	color: #fff;
	font-size: 20px;
	line-height: 23px;
	cursor: pointer;
	padding: 0.8rem 1rem;
	background: radial-gradient(
		100% 1267.36% at 0% 50%,
		#f42b4d 0%,
		#fa541a 100%
	);
	border-radius: 30px;
}

@media screen and (max-width: 760px) {
	.headerDiv {
		padding: 1rem;
	}
}

@media screen and (min-width: 2500px) {
	.headerDiv {
		padding: 1.5rem 50rem;
	}
	.headerButton {
		font-size: 1.5rem;
	}
}
