.cardContainer {
	display: flex;
	align-items: flex-start;
}

.cardImage {
	min-width: 100px;
	max-width: 100px;
	max-height: 100px;
	height: 100px;
	width: 100px;
	margin-right: 1.25rem;
	position: relative;
}

.cardContent {
	display: flex;
	flex-direction: column;
}

#cardHeading {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.43rem;
	color: #202125;
	margin-bottom: 0.62rem;
}

#cardDescription {
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.18rem;
	color: #4b4b4e;
}
